.WeatherForecast {
  text-align: center;
}
div .col {
  background: rgb(153, 194, 253);
  margin: 6px;
  padding: 8px;
  border: 2px solid #81b5fe;
}
small {
  font-size: 10px;
}
.WeatherForecast-day {
  font-family: sans-serif;
  color: #375072;
  font-weight: 600;
}
.WeatherForecast-temperatures {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #375072;
  font-size: 18px;
}
